{% load static %}
{% load humanize %}

{% for discussion in discussions %}
{% with user=discussion.poster %}
<div class="discussion_post" >
    <div class="discussion player">
        <div class="discussion_top">
            <img src="{{user.profile_picture.url}}" loading="lazy" width="60" alt="{{user.first_name}} {{user.last_name}}'s profile picture" class="album_art">
            <div class="discussion_top_middle" data-discussion-id = "{{discussion.id}}" data-discussion-index = "{{forloop.counter0}}">
                <h2 class="song-artist">{{user.first_name}} {{user.last_name}}</h2>
                <!-- <progress class="amplitude-song-played-progress progress-{{forloop.counter0}}-0" data-amplitude-song-index="0" data-amplitude-playlist = "{{forloop.counter0}}"></progress> -->
                <h3 class="current-time current-time-{{forloop.counter0}}-0" style = "display:none;">
                    <span class="amplitude-current-minutes" data-amplitude-song-index="0" data-amplitude-playlist="{{forloop.counter0}}"></span>:<span class="amplitude-current-seconds" data-amplitude-song-index="0" data-amplitude-playlist="{{forloop.counter0}}"></span>
                </h3>
                <h3 class="duration duration-{{forloop.counter0}}-0">{{discussion.duration}}</h3>
            </div>
            <div class="discussion_top_right w-clearfix">
                <h4 class="time_posted">{{discussion.created_at|naturaltime}}</h4>
                <div class=" amplitude-play-pause "  data-amplitude-song-index="0" data-amplitude-playlist="{{forloop.counter0}}">
                    <img src="{% static 'img/blue_play.svg' %}" loading="lazy" width="15" alt="blue play button" class="play play-{{forloop.counter0}}-0">
                    <img src="{% static 'img/blue_pause.svg' %}" loading="lazy" width="15" alt="blue pause button" class="pause pause-{{forloop.counter0}}-0" style = "display:none;">
                </div>
            </div>
        </div>
        <div class="discussion_bottom" data-discussion-id = "{{discussion.id}}" data-discussion-index = "{{forloop.counter0}}">
            <h1 class="song-title">{{discussion.title}}</h1>
            <a href="{{discussion.link}}" class="discussion_link">{{discussion.link_title}}</a>
        </div>
    </div>
    <div class="discussion_buttons">
        <div class="participant_cap">
            <h2 class="cap_heading">{{discussion.participant_count}}/{{discussion.participant_cap}}</h2>
            <img src="{% static 'img/filled_person.svg' %}" loading="lazy" width="11" alt="blue person icon" class="person">
        </div>
        <a href="http://localhost:8000/save_discussion/{{discussion.id}}" class="bookmark_link_block w-inline-block" {% if discussion in user.saved_discussions %} data-active = "saved" {% else %} data-active = "unsaved" {% endif %}>
            {% if discussion in logged_user.saved_discussions.all %}
            <img src="{% static 'img/filled_bookmark.svg' %}" loading="lazy" width="30" alt="blue bookmark icon" class="bookmark">
            {% else %}
            <img src="{% static 'img/empty_bookmark.svg' %}" loading="lazy" width="30" alt="blue bookmark icon" class="bookmark">
            {% endif %}
        </a>
    </div>
</div>
{% endwith %}
{% endfor %}

<script type = "text/JavaScript">
    try{
        var discussions = [];
        {% for discussion in discussions %}
        songs.push({
            "name": "{{discussion.title}}",
            "artist": "{{discussion.poster.first_name}} {{discussion.poster.last_name}}",
            "url": "{{discussion.audio.url}}",
            "element": document.createElement("audio"),
        });
        {% endfor %}
        Amplitude.init({
            "songs": songs,
            playlists: {
                {% for discussion in discussions %}
                "{{forloop.counter0}}": {
                    songs: [{{forloop.counter0}},]
                },
                {% endfor %}
            },
            starting_playlist: "0",
            starting_playlist_song: "0",
            preload: "metadata",
            callbacks: {
                /**
                 * Function to handle the event of a song change
                 */
                song_change: function(){
                    let song_id = Amplitude.getActiveSongMetadata().index;
                    let playlist_id = Amplitude.getActivePlaylist();
                    if(prevActiveIndex != song_id || prevActivePlaylist != playlist_id){
                        let prev_song_element = ".duration-" + prevActivePlaylist + "-" + prevActiveIndex;
                        $(prev_song_element).css("display", "flex");
                        prev_song_element = ".current-time-" + prevActivePlaylist + "-" + prevActiveIndex;
                        $(prev_song_element).css("display", "none");
                        prev_song_element = ".play-" +  + prevActivePlaylist + "-" + prevActiveIndex;
                        $(prev_song_element).css("display", "flex");
                        prev_song_element = ".pause-" + prevActivePlaylist + "-" + prevActiveIndex;
                        $(prev_song_element).css("display", "none");
                    }
                    if(prevActiveIndex != -1 || prevActivePlaylist != -1){
                        console.log(here);
                        let current_song_element = ".duration-" + playlist_id + "-" + song_id;
                        $(current_song_element).css("display", "none");
                        current_song_element = ".current-time-" + playlist_id + "-" + song_id;
                        $(current_song_element).css("display", "flex");
                        current_song_element = ".play-" +  + playlist_id + "-" + song_id;
                        $(current_song_element).css("display", "none");
                        current_song_element = ".pause-" + playlist_id + "-" + song_id;
                        $(current_song_element).css("display", "flex");
                    }
                    prevActiveIndex = song_id;
                    prevActivePlaylist = playlist_id;
                },
                /**
                 * Function to handle the event of a song jumping to the next song
                 */
                next:function(){
                    /**
                     * If we have reached the end of the playlist
                     */
                    if(Amplitude.getActiveSongMetadata().index == 0){
                        let id = Amplitude.getActiveSongMetadata().index;
                        let playlist = Amplitude.getActivePlaylist();
                        let current_song_element = ".duration-" +  playlist + "-" + id;
                        $(current_song_element).css("display", "flex");
                        current_song_element = ".current-time-" +  playlist + "-" + id;
                        $(current_song_element).css("display", "none");
                        current_song_element = ".play-" +  playlist + "-" + id;
                        $(current_song_element).css("display", "flex");
                        current_song_element = ".pause-" +  playlist + "-" + id;
                        $(current_song_element).css("display", "none");
                        prevActiveIndex = id;
                        prevActivePlaylist = Amplitude.getActivePlaylist();
                    }
                },
                init: function(){
                    console.log(Amplitude.getConfig());
                }
            }
        });
    }catch(e){
        console.log('No songs yet');
    }
</script>
