{% load static %}
{% load humanize %}
{% for response in current_discussion.response_posts.all %}
<div class="response_post">
    <div class="response player" style = "display: flex; flex-direction:column">
        <div class = "response_top">
            <a href="http://localhost:8000/profile/{{response.poster.id}}">{% if response.poster.profile_picture %}<img src="{{ response.poster.profile_picture.url}}" loading="lazy" width="60" alt= "profile picture" class="album_art"> {% else %}<img src="{% static 'img/logo.png' %}" loading="lazy" width="60" alt= "profile picture" class="album_art"> {% endif %}</a>
            <div class="response_middle">
                <h3 class="song-artist response_text">{{response.poster.first_name}} {{response.poster.last_name}}</h3>
                <!-- <progress class="amplitude-song-played-progress response_progress progress-{{current_discussion_index}}-{{forloop.counter}}" data-amplitude-song-index="{{forloop.counter}}" data-amplitude-playlist="{{current_discussion_index}}" ></progress> -->
                <h4 class="response-current-time response-text current-time-{{current_discussion_index}}-{{forloop.counter}} " style = "display:none;">
                    <span class="amplitude-current-minutes response_text" data-amplitude-song-index="{{forloop.counter}}" data-amplitude-playlist="{{current_discussion_index}}"></span>:<span class="amplitude-current-seconds response_text" data-amplitude-song-index="{{forloop.counter}}" data-amplitude-playlist="{{current_discussion_index}}"></span>
                </h4>
                <h4 class="response-duration response-text duration-{{current_discussion_index}}-{{forloop.counter}} ">{{response.duration}}</h4>
            </div>
            <div class="reponse_banner_right w-clearfix">
                <h5 class="time_posted response_text">{{response.created_at|naturaltime}}</h5>
                <div class="amplitude-play-pause amplitude-paused response_play" data-amplitude-song-index="{{forloop.counter}}" data-amplitude-playlist="{{current_discussion_index}}">
                    <img src="{% static 'img/cyan_play.svg' %}" loading="lazy" width="15" alt="cyan play button" class="play play_response play-{{current_discussion_index}}-{{forloop.counter}}">
                    <img src="{% static 'img/cyan_pause.svg' %}" loading="lazy" width="15" alt="cyan pause button" class="pause pause-{{current_discussion_index}}-{{forloop.counter}}" style = "display:none;">
                </div>
            </div>
        </div>
        {% if response.link %}
        <div class="response_bottom">
            <a href="{{response.link}}" target="_blank" class="response_link">{{response.link_title}}</a>
        </div>
        {% endif %}
    </div>
    
</div>
{% endfor %}
{% if current_discussion != -1 %}
<a class="plus_response_button w-inline-block" id = "plus_response_button_big">
    <img src="{% static 'img/blue_plus.svg' %}" loading="lazy" alt="blue plus symbol icon" class="plus">
</a>
<a class="plus_response_button small w-inline-block" id = "plus_response_button_small">
    <img src="{% static 'img/blue_plus.svg' %}" loading="lazy" alt="blue plus symbol icon" class="plus">
</a>
{% endif %}

<script type = "text/JavaScript">
    var playlist_len = Amplitude.getSongsInPlaylist( "{{current_discussion_index}}").length;
    for(let i = 0; i < playlist_len - 1; i++){
        Amplitude.removeSongFromPlaylist( Amplitude.getSongsInPlaylist( "{{current_discussion_index}}").length - 1, "{{current_discussion_index}}" )
    }
    var audio;
    {% for response in current_discussion.response_posts.all %}
    audio = {
            "name": "",
            "artist": "{{response.poster.first_name}} {{response.poster.last_name}}",
            "url": "{{response.audio.url}}",
            "element": document.createElement("audio"),
            "index": {{forloop.counter}},
    };
    Amplitude.addSong(audio);
    Amplitude.addSongToPlaylist(audio, "{{current_discussion_index}}");
    Amplitude.bindNewElements();
    {% endfor %}   
</script>