{% load static %}

<!-- 
<div class="favorite_spaces_block">
    <h1 class="spaces_heading">Favorite Spaces</h1>
    <div class="favorite_spaces">
        {% for space in favorite_spaces %}
        <a href="https://therise.online/{{space.network.id}}/{{space.id}}" class="space_heading sidebar_close_small">{{space.name}}</a>
        {% endfor %}
    </div>
</div> -->
<div class="all_spaces_block">
    <h1 class="spaces_heading">Spaces</h1>
    <div class="all_spaces">
        {% for space in spaces %}
        <a href="https://therise.online/{{space.network.id}}/{{space.id}}" class="space_heading">{{space.name}}</a>
        <a href="https://therise.online/{{space.network.id}}/{{space.id}}" class="space_heading small">{{space.name}}</a>
        {% endfor %}
    </div>
</div>